.navbar-nav > .nav-item:hover{

    color:#5EDF46!important;
    font-weight: 500;
}


.navigation{
    height: 100vh;
}

.body{
    font-family: 'Montserrat', sans-serif;
}

.mobilenumbers{
    font-size:12px;
}

.areasofapp{
    width:auto;
    height:auto;
}

.groupedimage{
    
   margin-top: 67px;
   width:600px;
   height: 311px;
}

.navbars{
    opacity:0.97;
    font-size: 20px;
}

.opacitycards{
    opacity: 0;
}


.buttonexp {
    background-color:#38118D;
    text-decoration: none;
}

.buttonexp > a {
    text-decoration: none;
    color: white;
}

.buttonexp > a:hover{
    color: black;
}

.buttonexp:hover{
    background-color: white;
    border: 1px solid #38118D;
    color: black;
}

.buttonread{
    background-color:white;
    text-decoration: none;
}

.buttonread > a {
    text-decoration: none;
    color: black;
}

.buttonread > a:hover{
    color:white;
}

.buttonread:hover{
    background-color:#38118D!important;
    border: 1px solid white;
 }

.aboutgodry{
    background-color:#5EDF46;
}

.firstsection{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.circle{
    height:24px;
    width:24px;
    border-radius:50%;
    background-color:#5EDF46;
}

.structure {
    cursor: pointer;
    position:relative;
    top:275px;
    left:260px;
    
    -webkit-transition:height .25s ease, width .25s ease;
    transition:height .25s ease, width .25s ease;
    
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
  
  .circle:before {
    content:'';
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    border-radius:50%;
    border:1px solid #5EDF46;
  }
  
  .circle:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
  }
  
  
  @-webkit-keyframes ripple{
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.75); opacity:1;}
    100% {-webkit-transform:scale(2); opacity:0;}
  }
  
  @keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(1.75); opacity:1;}
    100% {transform:scale(2); opacity:0;}
  }

.mobilestructure {
    cursor: pointer;
    position:relative;
    top:220px;
    left:83px;
    
  }

  .circle-mobile{
    height:18px;
    width:18px;
    border-radius:50%;
    background-color:#5EDF46;
}


  .circle-mobile:before {
    content:'';
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    border-radius:50%;
    border:1px solid #5EDF46;
  }
  
  .circle-mobile:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
  }
  
  
  @-webkit-keyframes ripple{
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.75); opacity:1;}
    100% {-webkit-transform:scale(2); opacity:0;}
  }
  
  @keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(1.75); opacity:1;}
    100% {transform:scale(2); opacity:0;}
  }



/*watertanks*/

.watertanks {
    cursor: pointer;
    position:relative;
    top:110px;
    left:390px;
  }
  


.mobilewatertanks {
    cursor: pointer;
    position:relative;
    top:120px;
    left:180px;
    
  }
  


/*roof*/

.roof {
    cursor: pointer;
    position:relative;
    top:165px;
    left:550px;
    
  }
  

.mobileroof {
    cursor: pointer;
    position:relative;
    top:155px;
    right:75px;
    
  }
  



/*Bathrooms*/

.bathrooms {
    cursor: pointer;
    position:relative;
    top:245px;
    left:530px;
    
  }
  

.mobilebathrooms {
    cursor: pointer;
    position:relative;
    top:210px;
    right:88px;
    
  }
  




/*External wall*/

.externalwall {
    cursor: pointer;
    position:relative;
    top:323px;
    left:620px;
  }
  


.mobileexternalwall {
    cursor: pointer;
    position:relative;
    top:260px;
    right:30px;
    
  }
  


/*externalwalls lines*/

.verticalline-externalwalls{
    border-left: 3px solid #5EDF46;
    height: 100px;
    left:630px;
    top:230px;
}

.horizantal-externalwalls{
    border-top: 3px solid #5EDF46;
    width: 326px;
    top:230px;
    left:630px;    
}

/*bathrooms lines*/

.verticalline-bathrooms{
    border-left: 3px solid #5EDF46;
    height: 30px;
    top:230px;
    left:540px;    
}

.horizantal-bathrooms{
    border-top: 3px solid #5EDF46;
    width: 420px;
    top:230px;
    left:540px;
}

.Bathroom-card{
    top:135px;
    right:128px; 
}

/*roof lines*/

.verticalline-roof{
    border-left: 3px solid #5EDF46;
    height: 30px;
    top:150px;
    left:560px;
}

.horizantal-roof{
    border-top: 3px solid #5EDF46;
    width: 200px;
    top:150px;
    left:560px;
}

.verticalline2-roof{
    border-left: 3px solid #5EDF46;
    height: 80px;
    top:150px;
    left:760px;
}

.horizantal2-roof{
    border-top: 3px solid #5EDF46;
    width: 200px;
    top:230px;
    left:760px;
}

.roof-card{
    top:135px;
    right:128px; 
}

/*structure line*/

.verticalline-structure{
    border-left: 3px solid #5EDF46;
    height: 170px;
    top:100px;
    left:260px;
}

.horizantal-structure{
    border-top: 3px solid #5EDF46;
    width: 500px;
    top:100px;
    left:260px;
}

.verticalline2-structure{
    border-left: 3px solid #5EDF46;
    height: 130px;
    top:100px;
    left:760px;
}

.horizantal2-structure{
    border-top: 3px solid #5EDF46;
    width: 200px;
    top:230px;
    left:760px;
}

.structure-card{
    top:135px;
    right:128px;
}

/*Watertank*/

.horizantal-watertank{
    border-top: 3px solid #5EDF46;
    width: 355px;
    top:122px;
    left:405px;
}

.verticalline-watertank{
    border-left: 3px solid #5EDF46;
    height: 108px;
    top:122px;
    left:760px;
}

.horizantal2-watertank{
    border-top: 3px solid #5EDF46;
    width: 200px;
    top:230px;
    left:760px;
}

.watertank-card{
    top:135px;
    right:128px;
}

.footervertical1{
    border-right: 2px solid white;
    height: 10px;    
}

.footervertical2{
    border-right: 2px solid white;
    height: 10px;    
}

.footervertical3{
    border-right: 2px solid white;
    height: 10px;    
}

.footervertical4{
    border-right: 2px solid white;
    height: 10px;    
}


@media (max-width:320px){
    .mobilestructure{
        top: 235px;
        left:70px;
        cursor: pointer;
    }

    .mobilewatertanks{
        top:150px;
        left:150px;
        cursor: pointer;
    }

    .mobileroof{
        top:180px;
        left:238px;
        cursor: pointer;
    }

    .mobilebathrooms{
        top:227px;
        left:230px;
        cursor: pointer;
    }

    .mobileexternalwall{
        top:267px;
        right:20px;
        cursor: pointer;
    }
  }


@media (max-width: 600px) {

  }



  @media (max-width: 767px) {
    .buttonread{
        font-size: 13px;
    }
        .buttonexp{
            font-size: 13px;
        }
    
        .headertext{
            font-size: 22px;
        }
        .groupedimage{
     
            width:300px;
            height: 155px;
         }
    
         .navigation{
            height: 90vh;
            width:auto;
            }
    
        iframe{
            width:auto;
            height: auto;
        }
    
  }


  @media (min-width: 768px) and (max-width: 992px){
    .mobileroof{
        top:155px;
        right:210px;
        cursor: pointer;
    }

    .mobilebathrooms{
        top:240px;
        right:220px;
        cursor: pointer;
    }

    .mobileexternalwall{
        top:310px;
        right:140px;
        cursor: pointer;
    }

    .mobilestructure{
        top: 255px;
        left:230px;
        cursor: pointer;
    }

    .mobilewatertanks{
        top:100px;
        left:370px;
        cursor: pointer;
    }

  }

  @media (min-width: 993px) and (max-width: 1199px){
    
    /*structure line*/

        .structure{
            top: 265px;
            left: 160px;
            cursor: pointer;
        }

        .structure-card{
            top:135px;
            right:20px;
        }

        .verticalline-structure{
        border-left: 3px solid #5EDF46;
        height: 170px;
        top:100px;
        left:160px;
        }

        .horizantal-structure{
        border-top: 3px solid #5EDF46;
        width: 450px;
        top:100px;
        left:160px;
        }

        .verticalline2-structure{
        border-left: 3px solid #5EDF46;
        height: 130px;
        top:100px;
        left:610px;
        }

        .horizantal2-structure{
        border-top: 3px solid #5EDF46;
        width: 110px;
        top:230px;
        left:610px;
        }

    /*Watertank*/

    .watertank-card{
        top:135px;
        right:20px;
    }
    
    .watertanks{
        top:100px;
        left:320px;
        cursor: pointer;
    }

    .horizantal-watertank{
        border-top: 3px solid #5EDF46;
        width: 290px;
        top:110px;
        left:320px;
    }

    .verticalline-watertank{
    border-left: 3px solid #5EDF46;
    height: 120px;
    top:110px;
    left:609px;
    }

    .horizantal2-watertank{
    border-top: 3px solid #5EDF46;
    width: 120px;
    top:230px;
    left:609px;
    }
        /*roof*/

        .roof{
            top:164px;
            left:465px;
            cursor: pointer;
        }

        .roof-card{
            top:135px;
            right:20px; 
        }

        .verticalline-roof{
        border-left: 3px solid #5EDF46;
        height: 30px;
        top:150px;
        left:475px;
        }

        .horizantal-roof{
        border-top: 3px solid #5EDF46;
        width: 140px;
        top:150px;
        left:475px;
        }

        .verticalline2-roof{
        border-left: 3px solid #5EDF46;
        height: 80px;
        top:150px;
        left:615px;
        }

        .horizantal2-roof{
        border-top: 3px solid #5EDF46;
        width: 130px;
        top:230px;
        left:615px;
        }

        /*Bathrooms*/

        .bathrooms{
            top:245px;
            left:460px;
            cursor: pointer;
        }
    
        .Bathroom-card{
            top:135px;
            right:20px; 
        }
        
        .verticalline-bathrooms{
            border-left: 3px solid #5EDF46;
            height: 30px;
            top:230px;
            left:470px;    
        }
        
        .horizantal-bathrooms{
            border-top: 3px solid #5EDF46;
            width: 270px;
            top:230px;
            left:470px;
        }

        /*External wall*/

     .externalwall{
            top:320px;
            left:533px;
            cursor: pointer;
        }
    
    .verticalline-externalwalls{
        border-left: 3px solid #5EDF46;
        height: 100px;
        left:543px;
        top:230px;
    }
    
    .horizantal-externalwalls{
        border-top: 3px solid #5EDF46;
        width: 160px;
        top:230px;
        left:543px;    
    }
        
        


  }
  

  @media (min-width: 1030px) and (max-width: 1199px){

  }

  @media (min-width: 1270px) and (max-width: 1299px){


        /*externalwalls lines*/

        .horizantal-externalwalls{    
            width: 272px;      
        }


        /*bathrooms lines*/

        .horizantal-bathrooms{
            width: 350px;
        
        }

        /*roof lines*/
        .horizantal2-roof{
            width: 128px;
        
        }


        /*structure line*/
        .horizantal2-structure{
            width: 120px;
        }


        /*Watertank lines*/
        .horizantal2-watertank{
            width: 130px;
            }



}
@media (min-width: 1300px) and (max-width: 1330px){

        /*externalwalls lines*/

.horizantal-externalwalls{    
    width: 300px;      
}


/*bathrooms lines*/

.horizantal-bathrooms{
    width: 388px;
  
}

/*roof lines*/
.horizantal2-roof{
    width: 170px;
   
}


/*structure line*/
.horizantal2-structure{
    width: 170px;
   }


/*Watertank lines*/
.horizantal2-watertank{
    width: 170px;
    }
        

  }

  @media (min-width: 1400px) and (max-width: 1560px){

    
            .structure{
                top:275px;
                left:270px;
            }
            .verticalline-structure{
            border-left: 3px solid #5EDF46;
            height: 170px;
            top:100px;
            left:270px;
            }

            .horizantal-structure{
            border-top: 3px solid #5EDF46;
            width: 500px;
            top:100px;
            left:270px;
            }

            .verticalline2-structure{
            border-left: 3px solid #5EDF46;
            height: 130px;
            top:100px;
            left:770px;
            }

            .horizantal2-structure{
            border-top: 3px solid #5EDF46;
            width: 265px;
            top:230px;
            left:770px;
            }

/*Watertanks*/

            .watertanks{
                    top:110px;
                    left:420px;
                    cursor: pointer;
                }
            
            .horizantal-watertank{
                border-top: 3px solid #5EDF46;
                width: 355px;
                top:122px;
                left:425px;
            }
            
            .verticalline-watertank{
                border-left: 3px solid #5EDF46;
                height: 108px;
                top:122px;
                left:780px;
            }
            
            .horizantal2-watertank{
                border-top: 3px solid #5EDF46;
                width: 260px;
                top:230px;
                left:780px;
            }

/*roof*/
       .roof{
                top:160px;
                left:570px;
                cursor: pointer;
            }
        
        .verticalline-roof{
            border-left: 3px solid #5EDF46;
            height: 30px;
            top:150px;
            left:580px;
        }
        
        .horizantal-roof{
            border-top: 3px solid #5EDF46;
            width: 200px;
            top:150px;
            left:580px;
        }
        
        .verticalline2-roof{
            border-left: 3px solid #5EDF46;
            height: 80px;
            top:150px;
            left:780px;
        }
        
        .horizantal2-roof{
            border-top: 3px solid #5EDF46;
            width: 260px;
            top:230px;
            left:780px;
        }

/*Bathrooms*/
        .bathrooms {
            cursor: pointer;
            position:relative;
            top:245px;
            left:560px;
            
          }
        
        .verticalline-bathrooms{
            border-left: 3px solid #5EDF46;
            height: 30px;
            top:230px;
            left:570px;    
        }
        
        .horizantal-bathrooms{
            border-top: 3px solid #5EDF46;
            width: 470px;
            top:230px;
            left:570px;
        }
/*External wall*/ 

.horizantal-externalwalls{
    border-top: 3px solid #5EDF46;
    width: 380px;
    top:230px;
    left:630px;    
}

        
        
}
  
  @media (min-width: 1600px) and (max-width: 1919px){

            .structure{
                top:275px;
                left:320px;
            }
            .verticalline-structure{
            border-left: 3px solid #5EDF46;
            height: 170px;
            top:100px;
            left:320px;
            }

            .horizantal-structure{
            border-top: 3px solid #5EDF46;
            width: 500px;
            top:100px;
            left:320px;
            }

            .verticalline2-structure{
            border-left: 3px solid #5EDF46;
            height: 130px;
            top:100px;
            left:820px;
            }

            .horizantal2-structure{
            border-top: 3px solid #5EDF46;
            width: 375px;
            top:230px;
            left:820px;
            }

        /*Watertanks*/

            .watertanks{
                    top:110px;
                    left:450px;
                    cursor: pointer;
                }
            
            .horizantal-watertank{
                border-top: 3px solid #5EDF46;
                width: 355px;
                top:122px;
                left:450px;
            }
            
            .verticalline-watertank{
                border-left: 3px solid #5EDF46;
                height: 108px;
                top:122px;
                left:805px;
            }
            
            .horizantal2-watertank{
                border-top: 3px solid #5EDF46;
                width: 385px;
                top:230px;
                left:805px;
            }

        /*roof*/
        .roof{
                top:160px;
                left:610px;
                cursor: pointer;
            }

        .verticalline-roof{
            border-left: 3px solid #5EDF46;
            height: 30px;
            top:150px;
            left:620px;
        }

        .horizantal-roof{
            border-top: 3px solid #5EDF46;
            width: 200px;
            top:150px;
            left:620px;
        }

        .verticalline2-roof{
            border-left: 3px solid #5EDF46;
            height: 80px;
            top:150px;
            left:820px;
        }

        .horizantal2-roof{
            border-top: 3px solid #5EDF46;
            width: 380px;
            top:230px;
            left:820px;
        }

        /*Bathrooms*/
        .bathrooms {
            cursor: pointer;
            position:relative;
            top:245px;
            left:600px;
            
        }

        .verticalline-bathrooms{
            border-left: 3px solid #5EDF46;
            height: 30px;
            top:230px;
            left:610px;    
        }

        .horizantal-bathrooms{
            border-top: 3px solid #5EDF46;
            width: 580px;
            top:230px;
            left:610px;
        }
        /*External wall*/ 

        .externalwall {
            cursor: pointer;
            position:relative;
            top:318px;
            left:670px;
          }
        
        .verticalline-externalwalls{
            border-left: 3px solid #5EDF46;
            height: 100px;
            left:680px;
            top:230px;
        }
        
        .horizantal-externalwalls{
                border-top: 3px solid #5EDF46;
                width: 445px;
                top:230px;
                left:680px;    
                }
        


  }

  @media (min-width: 1601px) and (max-width: 3000px){

  }

  @media only screen and (min-width:1920px){

    .structure{
        top: 270px;
        left:395px;
        cursor: pointer;
    }

    .watertanks{
        top:105px;
        left:550px;
        cursor: pointer;
    }

    .roof{
        top:160px;
        left:690px;
        cursor: pointer;
    }

    .bathrooms{
        top:245px;
        left:680px;
        cursor: pointer;
    }

    .externalwall{
        top:320px;
        left:763px;
        cursor: pointer;
    }

    /*externalwalls lines*/

.verticalline-externalwalls{
    border-left: 3px solid #5EDF46;
    height: 100px;
    left:772px;
    top:230px;
}

.horizantal-externalwalls{
    border-top: 3px solid #5EDF46;
    width: 595px;
    top:230px;
    left:772px;    
}

/*bathrooms lines*/

.verticalline-bathrooms{
    border-left: 3px solid #5EDF46;
    height: 30px;
    top:230px;
    left:689px;    
}

.horizantal-bathrooms{
    border-top: 3px solid #5EDF46;
    width: 685px;
    top:230px;
    left:689px;
}

.Bathroom-card{
    top:135px;
    right:128px; 
}

/*roof lines*/

.verticalline-roof{
    border-left: 3px solid #5EDF46;
    height: 30px;
    top:150px;
    left:700px;
}

.horizantal-roof{
    border-top: 3px solid #5EDF46;
    width: 210px;
    top:150px;
    left:700px;
}

.verticalline2-roof{
    border-left: 3px solid #5EDF46;
    height: 80px;
    top:150px;
    left:910px;
}

.horizantal2-roof{
    border-top: 3px solid #5EDF46;
    width: 470px;
    top:230px;
    left:910px;
}

.roof-card{
    top:135px;
    right:128px; 
}

/*structure line*/

.verticalline-structure{
    border-left: 3px solid #5EDF46;
    height: 170px;
    top:100px;
    left:395px;
}

.horizantal-structure{
    border-top: 3px solid #5EDF46;
    width: 494px;
    top:100px;
    left:398px;
}

.verticalline2-structure{
    border-left: 3px solid #5EDF46;
    height: 130px;
    top:100px;
    left:890px;
}

.horizantal2-structure{
    border-top: 3px solid #5EDF46;
    width: 480px;
    top:230px;
    left:890px;
}

.Bathroom-card{
    top:136px;
    right:272px; 
}
.roof-card{
    top:136px;
    right:272px; 
}
.structure-card{
    top:136px;
    right:272px; 
}
.watertank-card{
    top:136px;
    right:272px; 
}

/*Watertank*/

.horizantal-watertank{
    border-top: 3px solid #5EDF46;
    width: 345px;
    top:113px;
    left:555px;
}

.verticalline-watertank{
    border-left: 3px solid #5EDF46;
    height: 122px;
    top:113px;
    left:900px;
}

.horizantal2-watertank{
    border-top: 3px solid #5EDF46;
    width: 470px;
    top:235px;
    left:900px;
}

    
  }


  @media only screen and (min-width:2560px){
    .Bathroom-card{
        top:135px;
        right:428px; 
    }

    .roof-card{
        top:136px;
        right:428px; 
    }
    .structure-card{
        top:136px;
        right:428px; 
    }
    .watertank-card{
        top:136px;
        right:428px; 
    }

    /*Watertank*/

.horizantal-watertank{
    border-top: 3px solid #5EDF46;
    width: 345px;
    top:128px;
    left:705px;
}

.verticalline-watertank{
    border-left: 3px solid #5EDF46;
    height: 102px;
    top:127px;
    left:1050px;
}

.horizantal2-watertank{
    border-top: 3px solid #5EDF46;
    width: 805px;
    top:230px;
    left:1050px;

  }

  .watertanks{
    top:120px;
    left:700px;
    cursor: pointer;
}

.structure{
    top: 265px;
    left:560px;
    cursor: pointer;    
}

.areasbuttons{
    background-color: #5EDF46;
    border-radius: 50%;
}

/*structure line*/

.verticalline-structure{
    border-left: 3px solid #5EDF46;
    height: 170px;
    top:100px;
    left:559px;
}

.horizantal-structure{
    border-top: 3px solid #5EDF46;
    width: 500px;
    top:100px;
    left:559px;
}

.verticalline2-structure{
    border-left: 3px solid #5EDF46;
    height: 130px;
    top:100px;
    left:1060px;
}

.horizantal2-structure{
    border-top: 3px solid #5EDF46;
    width: 850px;
    top:230px;
    left:1060px;
}

.roof{
    top:160px;
    left:850px;
    cursor: pointer;
}

/*roof lines*/

.verticalline-roof{
    border-left: 3px solid #5EDF46;
    height: 30px;
    top:150px;
    left:860px;
}

.horizantal-roof{
    border-top: 3px solid #5EDF46;
    width: 220px;
    top:150px;
    left:860px;
}

.verticalline2-roof{
    border-left: 3px solid #5EDF46;
    height: 80px;
    top:150px;
    left:1077px;
}

.horizantal2-roof{
    border-top: 3px solid #5EDF46;
    width: 780px;
    top:230px;
    left:1077px;
}

.bathrooms{
    top:245px;
    left:843px;
    cursor: pointer;
}

.externalwall{
    top:320px;
    left:920px;
    cursor: pointer;
}

/*bathrooms lines*/

.verticalline-bathrooms{
    border-left: 3px solid #5EDF46;
    height: 30px;
    top:230px;
    left:855px;    
}

.horizantal-bathrooms{
    border-top: 3px solid #5EDF46;
    width: 1010px;
    top:230px;
    left:855px;
}


/*externalwalls lines*/

.verticalline-externalwalls{
    border-left: 3px solid #5EDF46;
    height: 100px;
    left:929px;
    top:230px;
}

.horizantal-externalwalls{
    border-top: 3px solid #5EDF46;
    width: 945px;
    top:230px;
    left:929px;    
}

}