.navbar-nav > .nav-item:hover{

    color:#5EDF46!important;
    font-weight: 500;
}

.navigation{
    height: 100vh;
}

.body{
    font-family: 'Montserrat', sans-serif;
}

.mobilenumbers{
    font-size:12px;
}

.areasofapp{
    width:auto;
    height:auto;
}

.groupedimage{
    
   margin-top: 67px;
   width:600px;
   height: 311px;
}

.navbars{
    opacity:0.97;
    font-size: 20px;
}

.opacitycards{
    opacity: 0;
}


.buttonexp {
    background-color:#38118D;
    text-decoration: none;
}

.buttonexp > a {
    text-decoration: none;
    color: white;
}

.buttonexp > a:hover{
    color: black;
}

.buttonexp:hover{
    background-color: white;
    border: 1px solid #38118D;
    color: black;
}

.buttonread{
    background-color:white;
    text-decoration: none;
}

.buttonread > a {
    text-decoration: none;
    color: black;
}

.buttonread > a:hover{
    color:white;
}

.buttonread:hover{
    background-color:#38118D!important;
    border: 1px solid white;
 }

.aboutgodry{
    background-color:#5EDF46;
}

.firstsection{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.circle{
    height:24px;
    width:24px;
    border-radius:50%;
    background-color:#5EDF46;
}

.structure {
    cursor: pointer;
    position:relative;
    top:42%;
    left:19.3%;
    
    -webkit-transition:height .25s ease, width .25s ease;
    transition:height .25s ease, width .25s ease;
    
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
  
  .circle:before {
    content:'';
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    border-radius:50%;
    border:1px solid #5EDF46;
  }
  
  .circle:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
  }
  
  
  @-webkit-keyframes ripple{
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.75); opacity:1;}
    100% {-webkit-transform:scale(2); opacity:0;}
  }
  
  @keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(1.75); opacity:1;}
    100% {transform:scale(2); opacity:0;}
  }

.mobilestructure {
    cursor: pointer;
    position:relative;
    top:43%;
    left:22%;
    
  }

  .circle-mobile{
    height:18px;
    width:18px;
    border-radius:50%;
    background-color:#5EDF46;
}


  .circle-mobile:before {
    content:'';
    display:block;
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    border-radius:50%;
    border:1px solid #5EDF46;
  }
  
  .circle-mobile:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite;
  }
  
  
  @-webkit-keyframes ripple{
    0% {-webkit-transform:scale(1); }
    75% {-webkit-transform:scale(1.75); opacity:1;}
    100% {-webkit-transform:scale(2); opacity:0;}
  }
  
  @keyframes ripple{
    0% {transform:scale(1); }
    75% {transform:scale(1.75); opacity:1;}
    100% {transform:scale(2); opacity:0;}
  }



/*watertanks*/

.watertanks {
    cursor: pointer;
    position:relative;
    top:16%;
    left:29%;
  }
  


.mobilewatertanks {
    cursor: pointer;
    position:relative;
    top:22.5%;
    left:48%;
    
  }
  


/*roof*/

.roof {
    cursor: pointer;
    position:relative;
    top:24%;
    left:40.5%;
    
  }
  

.mobileroof {
    cursor: pointer;
    position:relative;
    top:30%;
    right:20%;
    
  }
  



/*Bathrooms*/

.bathrooms {
    cursor: pointer;
    position:relative;
    top:36.5%;
    left:39.3%;
    
  }
  

.mobilebathrooms {
    cursor: pointer;
    position:relative;
    top:40.5%;
    right:23%;
    
  }
  




/*External wall*/

.externalwall {
    cursor: pointer;
    position:relative;
    top:48%;
    left:45.5%;

  }

  .externalwallcard{
      z-index: 20;
  }
  


.mobileexternalwall {
    cursor: pointer;
    position:relative;
    top:50.5%;
    right:8%;
    
  }
  


/*externalwalls lines*/

.verticalline-externalwalls{
    border-left: 3px solid #5EDF46;
    height: 14%;
    left:46.4%;
    top:34%;
    z-index: 10;
}

.horizantal-externalwalls{
    border-top: 3px solid #5EDF46;
    width: 34%;
    top:34%;
    left:46.4%; 
    z-index: 10;   
}

/*bathrooms lines*/

.verticalline-bathrooms{
    border-left: 3px solid #5EDF46;
    height: 2%;
    top:35%;
    left:40%;   
    z-index: 10;   
 
}

.horizantal-bathrooms{
    border-top: 3px solid #5EDF46;
    width: 39%;
    top:34.5%;
    left:40%;
    z-index: 10;   
}

.Bathroom-card{
    top:19.3%;
    right:9.8%; 
    z-index: 20;
}

/*roof lines*/

.verticalline-roof{
    border-left: 3px solid #5EDF46;
    height: 2%;
    top:22.5%;
    left:41.3%;
}

.horizantal-roof{
    border-top: 3px solid #5EDF46;
    width: 15.2%;
    top:22.4%;
    left:41.3%;
}

.verticalline2-roof{
    border-left: 3px solid #5EDF46;
    height: 12.6%;
    top:22.3%;
    left:56.3%;
}

.horizantal2-roof{
    border-top: 3px solid #5EDF46;
    width: 23%;
    top:34.7%;
    left:56.3%;
    z-index: 10;
}

.roof-card{
    top:19.3%;
    right:9.8%;
    z-index: 20; 
}

/*structure line*/

.verticalline-structure{
    border-left: 3px solid #5EDF46;
    height: 26%;
    top:15%;
    left:19.3%;
}

.horizantal-structure{
    border-top: 3px solid #5EDF46;
    width: 37.2%;
    top:15%;
    left:19.3%;
}

.verticalline2-structure{
    border-left: 3px solid #5EDF46;
    height: 20%;
    top:15%;
    left:56.3%;
}

.horizantal2-structure{
    border-top: 3px solid #5EDF46;
    width: 23%;
    top:35%;
    left:56.3%;
    z-index: 10;
}

.structure-card{
    top:19.3%;
    right:9.8%;
    z-index: 20;    
}

/*Watertank*/

.horizantal-watertank{
    border-top: 3px solid #5EDF46;
    width: 26.3%;
    top:17.5%;
    left:30.2%;
}

.verticalline-watertank{
    border-left: 3px solid #5EDF46;
    height: 17.3%;
    top:17.7%;
    left:56.3%;
}

.horizantal2-watertank{
    border-top: 3px solid #5EDF46;
    width: 23%;
    top:34.6%;
    left:56.3%;
    z-index: 10;
}

.watertank-card{
    top:19.3%;
    right:9.8%;
    z-index: 20;
    
}

.footervertical1{
    border-right: 2px solid white;
    height: 10px;    
}

.footervertical2{
    border-right: 2px solid white;
    height: 10px;    
}

.footervertical3{
    border-right: 2px solid white;
    height: 10px;    
}

.footervertical4{
    border-right: 2px solid white;
    height: 10px;    
}


@media (max-width:320px){
    .mobilestructure{
        top: 48%;
        left:22%;
        cursor: pointer;
    }

    .mobilewatertanks{
        top:31%;
        left:47%;
        cursor: pointer;
    }

    .mobileroof{
        top:37%;
        right: 20%;
        cursor: pointer;
    }

    .mobilebathrooms{
        top:46%;
        right:22%;
        cursor: pointer;
    }

    .mobileexternalwall{
        top:54.5%;
        right:8%;
        cursor: pointer;
    }
  }


@media (max-width: 600px) {

  }



  @media (max-width: 768px) {
    
        iframe{
            max-width:100%
        }
    
  }


  @media (min-width: 768px) and (max-width: 992px){

    .mobileroof{
        top:25%;
        right:28%;
    }

    .mobilebathrooms{
        top:37%;
        right:30%;
        cursor: pointer;
    }

    .mobileexternalwall{
        top:48.5%;
        right:19%;
        cursor: pointer;
    }

    .mobilestructure{
        top: 40%;
        left:230px;
        cursor: pointer;
    }

    .mobilewatertanks{
        top:16.8%;
        left:50%;
        cursor: pointer;
    }


    .buttonread{
        font-size: 13px;
    }
        .buttonexp{
            font-size: 13px;
        }
    
        .headertext{
            font-size: 22px;
        }
        .groupedimage{
     
            width:300px;
            height: 155px;
         }
    
         .navigation{
            height: 90vh;
            width:auto;
            }
    
        iframe{
            width:auto;
            height: auto;
        }


  }

  @media (min-width: 993px) and (max-width: 1199px){
    
    /*structure line*/

        .structure{
            top: 41%;
            left: 17%;
            cursor: pointer;
        }

        .structure-card{
            top:20%;
            right:5%;
        }

        .verticalline-structure{
        border-left: 3px solid #5EDF46;
        height: 24.5%;
        top:14.7%;
        left:16.8%;
        }

        .horizantal-structure{
        border-top: 3px solid #5EDF46;
        width: 43%;
        top:14.5%;
        left:16.9%;
        }

        .verticalline2-structure{
        border-left: 3px solid #5EDF46;
        height: 20%;
        top:15%;
        left:59.6%;
        }

        .horizantal2-structure{
        border-top: 3px solid #5EDF46;
        width: 20%;
        top:35%;
        left:59.6%;
        
        }

    /*Watertank*/

    .watertank-card{
        top:20%;
        right:5%;
   }
    
    .watertanks{
        top:16%;
        left:31%;
        cursor: pointer;
    }

    .horizantal-watertank{
        border-top: 3px solid #5EDF46;
        width: 27.8%;
        top:18%;
        left:32%;
    }

    .verticalline-watertank{
    border-left: 3px solid #5EDF46;
    height: 16.5%;
    top:18%;
    left:59.6%;
    }

    .horizantal2-watertank{
    border-top: 3px solid #5EDF46;
    width: 18%;
    top:34%;
    left:59.6%;
    } 
    
    /*roof*/

        .roof{
            top:24%;
            left:45.4%;
            cursor: pointer;
        }

        .roof-card{
            top:20%;
            right:5%;
       }

        .verticalline-roof{
        border-left: 3px solid #5EDF46;
        height: 3%;
        top:22.3%;
        left:46.4%;
        }

        .horizantal-roof{
        border-top: 3px solid #5EDF46;
        width: 14%;
        top:22%;
        left:46.4%;
        }

        .verticalline2-roof{
        border-left: 3px solid #5EDF46;
        height: 13%;
        top:22%;
        left:60.2%;
        }

        .horizantal2-roof{
        border-top: 3px solid #5EDF46;
        width: 16%;
        top:35%;
        left:60.2%;
        }

        /*Bathrooms*/

        .bathrooms{
            top:245px;
            left:460px;
            cursor: pointer;
        }
    
        .Bathroom-card{
            top:20%;
            right:5%;
       }
        
        .verticalline-bathrooms{
            border-left: 3px solid #5EDF46;
            height: 3.3%;
            top:34.5%;
            left:46%;    
        }
        
        .horizantal-bathrooms{
            border-top: 3px solid #5EDF46;
            width: 28%;
            top:34.5%;
            left:46%;
            
        }

        /*External wall*/

     .externalwall{
            top:48%;
            left:533px;
            cursor: pointer;
        }


    
    .verticalline-externalwalls{
        border-left: 3px solid #5EDF46;
        height: 100px;
        left:543px;
        top:230px;
    }
    
    .horizantal-externalwalls{
        border-top: 3px solid #5EDF46;
        width: 160px;
        top:230px;
        left:543px;    
    }
        
        


  }
  

  @media (min-width: 1030px) and (max-width: 1199px){

  }

  @media (min-width: 1270px) and (max-width: 1299px){


        /*externalwalls lines*/

        /* .horizantal-externalwalls{    
            width: 272px;      
        } */


        /*bathrooms lines*/

        /* .horizantal-bathrooms{
            width: 350px;
        
        } */

        /*roof lines*/
        /* .horizantal2-roof{
            width: 128px;
        
        } */


        /*structure line*/
        /* .horizantal2-structure{
            width: 120px;
        } */


        /*Watertank lines*/
        /* .horizantal2-watertank{
            width: 130px;
            } */



}
@media (min-width: 1300px) and (max-width: 1330px){

        /*externalwalls lines*/

/* .horizantal-externalwalls{    
    width: 300px;      
} */


/*bathrooms lines*/

/* .horizantal-bathrooms{
    width: 388px;
  
} */

/*roof lines*/
/* .horizantal2-roof{
    width: 170px;
   
} */


/*structure line*/
/* .horizantal2-structure{
    width: 170px;
   } */


/*Watertank lines*/
/* .horizantal2-watertank{
    width: 170px;
    } */
        

  }

  @media (min-width: 1400px) and (max-width: 1560px){

/*     
            .structure{
                top:275px;
                left:270px;
            }
            .verticalline-structure{
            border-left: 3px solid #5EDF46;
            height: 170px;
            top:100px;
            left:270px;
            }

            .horizantal-structure{
            border-top: 3px solid #5EDF46;
            width: 500px;
            top:100px;
            left:270px;
            }

            .verticalline2-structure{
            border-left: 3px solid #5EDF46;
            height: 130px;
            top:100px;
            left:770px;
            }

            .horizantal2-structure{
            border-top: 3px solid #5EDF46;
            width: 265px;
            top:230px;
            left:770px;
            } */

/*Watertanks*/

            /* .watertanks{
                    top:110px;
                    left:420px;
                    cursor: pointer;
                }
            
            .horizantal-watertank{
                border-top: 3px solid #5EDF46;
                width: 355px;
                top:122px;
                left:425px;
            }
            
            .verticalline-watertank{
                border-left: 3px solid #5EDF46;
                height: 108px;
                top:122px;
                left:780px;
            }
            
            .horizantal2-watertank{
                border-top: 3px solid #5EDF46;
                width: 260px;
                top:230px;
                left:780px;
            } */

/*roof*/
       /* .roof{
                top:160px;
                left:570px;
                cursor: pointer;
            }
        
        .verticalline-roof{
            border-left: 3px solid #5EDF46;
            height: 30px;
            top:150px;
            left:580px;
        }
        
        .horizantal-roof{
            border-top: 3px solid #5EDF46;
            width: 200px;
            top:150px;
            left:580px;
        }
        
        .verticalline2-roof{
            border-left: 3px solid #5EDF46;
            height: 80px;
            top:150px;
            left:780px;
        }
        
        .horizantal2-roof{
            border-top: 3px solid #5EDF46;
            width: 260px;
            top:230px;
            left:780px;
        } */

/*Bathrooms*/
        /* .bathrooms {
            cursor: pointer;
            position:relative;
            top:245px;
            left:560px;
            
          }
        
        .verticalline-bathrooms{
            border-left: 3px solid #5EDF46;
            height: 30px;
            top:230px;
            left:570px;    
        }
        
        .horizantal-bathrooms{
            border-top: 3px solid #5EDF46;
            width: 470px;
            top:230px;
            left:570px;
        } */
/*External wall*/ 

/* .horizantal-externalwalls{
    border-top: 3px solid #5EDF46;
    width: 380px;
    top:230px;
    left:630px;    
} */

        
        
}
  
  @media (min-width: 1600px) and (max-width: 1919px){

            /* .structure{
                top:275px;
                left:320px;
            }
            .verticalline-structure{
            border-left: 3px solid #5EDF46;
            height: 170px;
            top:100px;
            left:320px;
            }

            .horizantal-structure{
            border-top: 3px solid #5EDF46;
            width: 500px;
            top:100px;
            left:320px;
            }

            .verticalline2-structure{
            border-left: 3px solid #5EDF46;
            height: 130px;
            top:100px;
            left:820px;
            }

            .horizantal2-structure{
            border-top: 3px solid #5EDF46;
            width: 375px;
            top:230px;
            left:820px;
            } */

        /*Watertanks*/

            /* .watertanks{
                    top:110px;
                    left:450px;
                    cursor: pointer;
                }
            
            .horizantal-watertank{
                border-top: 3px solid #5EDF46;
                width: 355px;
                top:122px;
                left:450px;
            }
            
            .verticalline-watertank{
                border-left: 3px solid #5EDF46;
                height: 108px;
                top:122px;
                left:805px;
            }
            
            .horizantal2-watertank{
                border-top: 3px solid #5EDF46;
                width: 385px;
                top:230px;
                left:805px;
            } */

        /*roof*/
        /* .roof{
                top:160px;
                left:610px;
                cursor: pointer;
            }

        .verticalline-roof{
            border-left: 3px solid #5EDF46;
            height: 30px;
            top:150px;
            left:620px;
        }

        .horizantal-roof{
            border-top: 3px solid #5EDF46;
            width: 200px;
            top:150px;
            left:620px;
        }

        .verticalline2-roof{
            border-left: 3px solid #5EDF46;
            height: 80px;
            top:150px;
            left:820px;
        }

        .horizantal2-roof{
            border-top: 3px solid #5EDF46;
            width: 380px;
            top:230px;
            left:820px;
        } */

        /*Bathrooms*/
        /* .bathrooms {
            cursor: pointer;
            position:relative;
            top:245px;
            left:600px;
            
        }

        .verticalline-bathrooms{
            border-left: 3px solid #5EDF46;
            height: 30px;
            top:230px;
            left:610px;    
        }

        .horizantal-bathrooms{
            border-top: 3px solid #5EDF46;
            width: 580px;
            top:230px;
            left:610px;
        } */
        /*External wall*/ 

        /* .externalwall {
            cursor: pointer;
            position:relative;
            top:318px;
            left:670px;
          }
        
        .verticalline-externalwalls{
            border-left: 3px solid #5EDF46;
            height: 100px;
            left:680px;
            top:230px;
        }
        
        .horizantal-externalwalls{
                border-top: 3px solid #5EDF46;
                width: 445px;
                top:230px;
                left:680px;    
                } */
        


  }

  @media (min-width: 1601px) and (max-width: 3000px){

  }

  @media screen and (min-width:1920px){

    .structure{
        top: 41.6%;
        left:21%;
        cursor: pointer;
    }

    .watertanks{
        top:15.5%;
        left:28%;
        cursor: pointer;
    }

    .roof{
        top:24%;
        left:36%;
        cursor: pointer;
    }

    .bathrooms{
        top:36%;
        left:35%;
        cursor: pointer;
    }

    .externalwall{
        top:47%;
        left:40%;
        cursor: pointer;
    }

    /*externalwalls lines*/

.verticalline-externalwalls{
    border-left: 3px solid #5EDF46;
    height: 13%;
    left:40.5%;
    top:35%;
}

.horizantal-externalwalls{
    border-top: 3px solid #5EDF46;
    width: 38%;
    top:35%;
    left:40.5%;    
}

/*bathrooms lines*/

.verticalline-bathrooms{
    border-left: 3px solid #5EDF46;
    height: 2%;
    top:34%;
    left:35.5%;    
}

.horizantal-bathrooms{
    border-top: 3px solid #5EDF46;
    width: 47%;
    top:34%;
    left:35.7%;
}

/* .Bathroom-card{
    top:135px;
    right:128px; 
} */

/*roof lines*/

.verticalline-roof{
    border-left: 3px solid #5EDF46;
    height: 2%;
    top:22.6%;
    left:36.4%;
}

.horizantal-roof{
    border-top: 3px solid #5EDF46;
    width: 11.1%;
    top:22.3%;
    left:36.4%;
}

.verticalline2-roof{
    border-left: 3px solid #5EDF46;
    height: 12.3%;
    top:22.3%;
    left:47.4%;
}

.horizantal2-roof{
    border-top: 3px solid #5EDF46;
    width: 35%;
    top:34.7%;
    left:47.4%;
}

/* .roof-card{
    top:135px;
    right:128px; 
} */

/*structure line*/

.verticalline-structure{
    border-left: 3px solid #5EDF46;
    height: 27%;
    top:15%;
    left:20.8%;
}

.horizantal-structure{
    border-top: 3px solid #5EDF46;
    width: 25.6%;
    top:14.5%;
    left:20.8%;
}

.verticalline2-structure{
    border-left: 3px solid #5EDF46;
    height: 20.3%;
    top:14.5%;
    left:46.3%;
}

.horizantal2-structure{
    border-top: 3px solid #5EDF46;
    width: 36%;
    top:34.4%;
    left:46.4%;
}

/* .Bathroom-card{
    top:136px;
    right:272px; 
}
.roof-card{
    top:136px;
    right:272px; 
}
.structure-card{
    top:136px;
    right:272px; 
}
.watertank-card{
    top:136px;
    right:272px; 
} */

/*Watertank*/

.horizantal-watertank{
    border-top: 3px solid #5EDF46;
    width: 18%;
    top:17%;
    left:29%;
}

.verticalline-watertank{
    border-left: 3px solid #5EDF46;
    height: 18.4%;
    top:17.3%;
    left:46.8%;
}

.horizantal2-watertank{
    border-top: 3px solid #5EDF46;
    width: 35%;
    top:35.4%;
    left:46.8%;
}

    
  }


  @media only screen and (min-width:2560px){
    .Bathroom-card{
        top:23.5%;
        right:17%; 
    }

    .roof-card{
        top:23.5%;
        right:17%; 
    }
    .structure-card{
        top:23.5%;
        right:17%; 
    }
    .watertank-card{
        top:23.5%;
        right:17%; 
    }

    /*Watertank*/

  .watertanks{
    top:16%;
    left:27.3%;
    cursor: pointer;
}

    .horizantal-watertank{
            border-top: 3px solid #5EDF46;
            width: 13.1%;
            top:18%;
            left:28%;
        }

        .verticalline-watertank{
            border-left: 3px solid #5EDF46;
            height: 16.8%;
            top:18%;
            left:41%;
        }

        .horizantal2-watertank{
            border-top: 3px solid #5EDF46;
            width: 35.5%;
            top:34.5%;
            left:41%;

         
        }



/*structure line*/

.structure{
    top: 265px;
    left:560px;
    cursor: pointer;    
}

.verticalline-structure{
    border-left: 3px solid #5EDF46;
    height: 170px;
    top:100px;
    left:559px;
}

.horizantal-structure{
    border-top: 3px solid #5EDF46;
    width: 500px;
    top:100px;
    left:559px;
}

.verticalline2-structure{
    border-left: 3px solid #5EDF46;
    height: 130px;
    top:100px;
    left:1060px;
}

.horizantal2-structure{
    border-top: 3px solid #5EDF46;
    width: 880px;
    top:230px;
    left:1060px;
}


/*roof lines*/

.roof{
    top:160px;
    left:850px;
    cursor: pointer;
}


.verticalline-roof{
    border-left: 3px solid #5EDF46;
    height: 30px;
    top:150px;
    left:860px;
}

.horizantal-roof{
    border-top: 3px solid #5EDF46;
    width: 220px;
    top:150px;
    left:860px;
}

.verticalline2-roof{
    border-left: 3px solid #5EDF46;
    height: 80px;
    top:150px;
    left:1077px;
}

.horizantal2-roof{
    border-top: 3px solid #5EDF46;
    width: 900px;
    top:230px;
    left:1077px;
  
}



/*bathrooms lines*/

.bathrooms{
    top:245px;
    left:843px;
    cursor: pointer;
}


.verticalline-bathrooms{
    border-left: 3px solid #5EDF46;
    height: 30px;
    top:230px;
    left:855px;    
}

.horizantal-bathrooms{
    border-top: 3px solid #5EDF46;
    width: 1110px;
    top:230px;
    left:855px;
   
}


/*externalwalls lines*/

.externalwall{
    top:320px;
    left:920px;
    cursor: pointer;
}


.verticalline-externalwalls{
    border-left: 3px solid #5EDF46;
    height: 100px;
    left:929px;
    top:230px;
}

.horizantal-externalwalls{
    border-top: 3px solid #5EDF46;
    width: 1050px;
    top:230px;
    left:929px; 
}

}