.body{
    font-family: 'Montserrat', sans-serif;
}

.areasofapp{
    width:auto;
    height:auto;
}
.navigation{
    height: 100vh;
}

.groupedimage{
    
   margin-top: 67px;
   width:600px;
   height: 311px;
}

.navbars{
    opacity:0.97;
    font-size: 20px;
}

.buttonexp{
    background-color:#38118D;
}

.buttonread{
   color: #38118D;
}

.aboutgodry{
    background-color:#5EDF46;
}

.firstsection{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.structure{
    top: 265px;
    left:250px;
    cursor: pointer;
}

.mobilestructure{
    top: 225px;
    left:80px;
    cursor: pointer;
}

.watertanks{
    top:110px;
    left:400px;
    cursor: pointer;
}

.mobilewatertanks{
    top:120px;
    left:190px;
    cursor: pointer;
}

.roof{
    top:164px;
    left:550px;
    cursor: pointer;
}
.mobileroof{
    top:155px;
    right:80px;
    cursor: pointer;
}

.bathrooms{
    top:245px;
    left:530px;
    cursor: pointer;
}
.mobilebathrooms{
    top:210px;
    right:80px;
    cursor: pointer;
}

.externalwall{
    top:320px;
    left:620px;
    cursor: pointer;
}

.mobileexternalwall{
    top:260px;
    right:30px;
    cursor: pointer;
}

/*externalwalls lines*/

.verticalline-externalwalls{
    border-left: 3px solid #5EDF46;
    height: 100px;
    left:630px;
    top:230px;
}

.horizantal-externalwalls{
    border-top: 3px solid #5EDF46;
    width: 310px;
    top:230px;
    left:630px;    
}

/*bathrooms lines*/

.verticalline-bathrooms{
    border-left: 3px solid #5EDF46;
    height: 30px;
    top:230px;
    left:540px;    
}

.horizantal-bathrooms{
    border-top: 3px solid #5EDF46;
    width: 400px;
    top:230px;
    left:540px;
}

.Bathroom-card{
    top:135px;
    right:128px; 
}

/*roof lines*/

.verticalline-roof{
    border-left: 3px solid #5EDF46;
    height: 30px;
    top:150px;
    left:560px;
}

.horizantal-roof{
    border-top: 3px solid #5EDF46;
    width: 200px;
    top:150px;
    left:560px;
}

.verticalline2-roof{
    border-left: 3px solid #5EDF46;
    height: 80px;
    top:150px;
    left:760px;
}

.horizantal2-roof{
    border-top: 3px solid #5EDF46;
    width: 180px;
    top:230px;
    left:760px;
}

.roof-card{
    top:135px;
    right:128px; 
}

/*structure line*/

.verticalline-structure{
    border-left: 3px solid #5EDF46;
    height: 170px;
    top:100px;
    left:260px;
}

.horizantal-structure{
    border-top: 3px solid #5EDF46;
    width: 500px;
    top:100px;
    left:260px;
}

.verticalline2-structure{
    border-left: 3px solid #5EDF46;
    height: 130px;
    top:100px;
    left:760px;
}

.horizantal2-structure{
    border-top: 3px solid #5EDF46;
    width: 180px;
    top:230px;
    left:760px;
}

.structure-card{
    top:135px;
    right:128px;
}

/*Watertank*/

.horizantal-watertank{
    border-top: 3px solid #5EDF46;
    width: 345px;
    top:122px;
    left:415px;
}

.verticalline-watertank{
    border-left: 3px solid #5EDF46;
    height: 110px;
    top:120px;
    left:760px;
}

.horizantal2-watertank{
    border-top: 3px solid #5EDF46;
    width: 180px;
    top:230px;
    left:760px;
}

.watertank-card{
    top:135px;
    right:128px;
}

.footervertical1{
    border-right: 2px solid white;
    height: 10px;    
}

.footervertical2{
    border-right: 2px solid white;
    height: 10px;    
}

.footervertical3{
    border-right: 2px solid white;
    height: 10px;    
}

.footervertical4{
    border-right: 2px solid white;
    height: 10px;    
}

@media only screen and (max-width: 600px) {

    .headertext{
        font-size: 18px;
    }
    .groupedimage{
    
        
        width:300px;
        height: 155px;
     }

     .navigation{
        height: 90vh;
        width:auto;
        height:auto;

    }

    iframe{
        width:auto;
        height: auto;
    }
  }

  @media only screen and (max-width: 768px) {
    
     .navigation{
        height: 70vh;
    }
  }


  @media only screen and (max-width:320px){
    .mobilestructure{
        top: 205px;
        left:70px;
        cursor: pointer;
    }

    .mobilewatertanks{
        top:118px;
        left:150px;
        cursor: pointer;
    }

    .mobileroof{
        top:150px;
        left:235px;
        cursor: pointer;
    }

    .mobilebathrooms{
        top:195px;
        left:220px;
        cursor: pointer;
    }

    .mobileexternalwall{
        top:235px;
        right:30px;
        cursor: pointer;
    }
  }